##################################
# Build
##################################
target/

##################################
# Eclipse
##################################
.project
.classpath
.settings/

##################################
# Tomcat / Workspace
##################################
.metadata/

##################################
# Logs
##################################
*.log

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# IDE (팀원 대비)
##################################
.vscode/
.idea/

##################################
# Upload
##################################
upload/